<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  TYDIR (Turning Your Dreams Into Reality) is an online platform that helps students learn about different career opportunities. Currently, the process of emailing friends to grab coffee and attending industry panels is both inefficient and ineffective. 
</p>