<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  	Frustrated with your current job? Wondering what to do with your life? 
  	TYDIR helps you learn about different career opportunities more efficiently. No more mass emailing, trying to get a 15min phone calls or clearing your schedule for coffee chats. Say no to unhelpful industry panels. 
</p>
<p>
	Take 10min, watch 5 videos. Get to know what people ACTUALLY do. Without the bullshit. 
</p>
<p>
  	Ask the questions you really want to know. Explore other opportunities. Turn your dreams into reality, TYDER. 
</p>
