<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  TYDIR (Turning Your Dreams Into Reality) helps you learn about different career opportunities more effficiently. No more mass emailing, trying to get a 15min phone call with alumni, clearing your schedule for coffee chats, and attending unhelpful industry panels. 
</p>
<p>
  Take 10min, watch 5 videos. Get to know what people actually do. Without the bullshit. 
</p>
<p>
  Ask the questions you really want to ask. 
 
</p>
