<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Helping business school studnents learn about careers more efficiently. No more mass emailing, coffee chats, industry panels and still not understanding what the indstury is about.
 
</p>
