<h1>Welcome to TYDIR</h1>
<p>Find me in app/views/auth/callback.html.erb</p>





<center>
  <table>
    <tr>
      <th>
<%= raw(youtube_embed('youtu.be/jJrzIdDUfT4')) %>
</th>
<th>
<%= raw(youtube_embed('youtu.be/jJrzIdDUfT4')) %>
</th>
<th>
<%= raw(youtube_embed('youtu.be/jJrzIdDUfT4')) %>
</th>
<th>
<%= raw(youtube_embed('youtu.be/jJrzIdDUfT4')) %>
</th>
</tr>
</table>
</center>
