<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/auth/callback">Main Page</a> <span class="divider">/</span></li>
</ul>


<h1>Welcome to TYDiR</h1>

</table>
</center>

<center>
  <table>
    <tr>
      	<th>
      		 <iframe title="YouTube video player" width="80%" src="https://www.youtube.com/embed/wqks_R90ykI" frameborder="0" allowfullscreen></iframe>  <br>
			<h1> <%=link_to "Finance", "/auth/finance"%></h1>
			
		</th>
		
		<th>
			<iframe title="YouTube video player" width="80%" src="https://www.youtube.com/embed/m0cerrXkBeg" frameborder="0" allowfullscreen></iframe><br>
			<h1> <%=link_to "Marketing", "/auth/marketing"%></h1>

		</th>

		<th>
			<iframe title="YouTube video player" width="80%" src="https://www.youtube.com/embed/m0cerrXkBeg" frameborder="0" allowfullscreen></iframe> <br>
			<h1> <%=link_to "Consulting", "/auth/consulting"%></h1>

		</th>

		<th>
			<iframe title="YouTube video player" width="80%" src="https://www.youtube.com/embed/m0cerrXkBeg" frameborder="0" allowfullscreen></iframe> <br>
			<h1> <%=link_to "Tech", "/auth/tech"%></h1>

		</th>
	</tr>
</table>
</center>
