<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/auth/callback">Main Page</a> <span class="divider">/</span></li>
  <li class="active">Consulting</li>
</ul>


<h1>Discover Consulting</h1>

<div class="container">
<section style="height: 400px">
	<%= raw(youtube_embed('http://www.youtube.com/watch?v=wqks_R90ykI')) %> 
	<div class="row">
	<div class="span12" id='yt_player'>	
			<style>
			iframe {
				height: 100%;
			}
			</style>
			<br>
			

	</div>	
</div>
	</section>	
	</div>



