<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/auth/callback">Main Page</a> <span class="divider">/</span></li>
  <li class="active">Finance</li>
</ul>


<h1>Discover Finance</h1>

<div class="container">
	<section style="height: 400px">

		<%= raw(youtube_embed('http://www.youtube.com/watch?v=wqks_R90ykI')) %> 
		

		<div class="row">
			<div class="span12" id='yt_player'>	
				<style>
				iframe {
					height: 100%;
				}
				</style>
				<br>
			
			</div>	
		</div>

	</section>	
</div>
<div class="btn-group">
  <a class="btn dropdown-toggle btn-large btn-primary" data-toggle="dropdown" href="#">
    Learn more
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->

    <ul class="dropdown-menu">
        <li><a href="#">second link </a></li>
        <li><a href="#">third link </a></li>
      </ul>
    
  </ul>
</div>

