<footer class="footer">
  <small>
    TYDIR
    by <%= link_to "Ting Cui", "https://twitter.com/ctz218" %> <%= link_to "Paul Sebexen", "http://www.linkedin.com/pub/paul-sebexen/25/46/592"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Blog</a></li>
    </ul>
  </nav>
</footer>