<footer class="footer">
  <small>
    TYDiR
    by <%= link_to "Ting Cui", "http://www.linkedin.com/in/tingcui1" %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://tydirllc.wordpress.com">Blog</a></li>
      <li><a href="#">Back To Top</a></li>
    </ul>
  </nav>
</footer>