<footer class="footer">
  <small>
    TYDIR
    by <%= link_to "Ting Cui", "https://twitter.com/ctz218" %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Blog</a></li>
      <li><a href="#">Back To Top</a></li>
    </ul>
  </nav>
</footer>